%cor-chaordic {
  color : $cor-chaordic;
}
%cor-apoio {
  color : $cor-apoio;
}
%cor-fundo {
  color : $cor-fundo;
}
%cor-form {
  color : $cor-form;
}
%cor-branca {
  color : $cor-branca;
}

%font-roboto {
  font-family: $font-roboto;
}

%font-roboto-slab {
  font-family: $font-roboto-slab;
}
